/* مشکل ریسپانسیو ؟؟*/


        /* fonts */
@font-face {font-family: "Titr";
    src: url(../../fonts/fonts/BYekanWeb.woff);}

@font-face {font-family: "Text-bold";
    src: url(../../fonts/Vazirmatn-Bold.ttf)}

@font-face {font-family: "Cards";
    src: url(../../fonts/fonts/BNarm.woff);}



* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    
body{font-family: "Titr";
    direction: rtl;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #383737;
    padding: 30px;}

        /* paragraphs titr */
.heading-paragraph{
    font-family: 'Text-bold';
    text-align: center;
    color: #1a80ce;
    margin-bottom: 20px;
}

        /* paragraphs */
.paragraph{
    font-family: "Titr";
    font-size: 1.3rem;
    margin-bottom: 20px;
}

        /* paragraphs btn */
.btn-paragraph{
    color: #1a80ce;
    font-family: "Text-bold";
    font-size: 1.4rem;
    text-decoration: none;
    border-bottom: 1px solid #1a80ce;
    padding: 3px;
    transition: all .3s;
}

.btn-paragraph:hover{
    background-color: #1a80ce;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 2px;
    transform: translateY(-5px);
    padding: 5px;
}


.btn-paragraph:active{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border-radius: 2px;
    transform: translateY(0);
}

/* ---------------------------------------------------------------------------------------- */

        /* header  */
.header{height: 92vh;
    background-image:linear-gradient(to bottom, rgba(75, 54, 8, 0.8), rgba(254, 159, 51,.8)),
        url(../../img/nody-1633323385.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%) ;
    clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%) ;}
    
    
        /* logo  */
.logo-box{position: absolute;
    top: 20px;
    left: 25px;}
    
.logo{opacity: 0.7;
    height: 120px;}
    
.logo:hover{opacity: 1;}
    
    
        /* text header  */
.text-box{position: absolute;
    top: 40%;
    right: 33%;
    transform: translate(-50%,-50%);}
    
.text-header{color: #fffaea;
        text-transform: uppercase;}
    
.text1{display: block;
    font-size: 70px;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: 0.3s;
    margin-bottom: 20px;}
    
.text2{display: block;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    animation: moveInLeft 1s 0.3s;}
    
    
        /* animation */
@keyframes moveInRight{
    0%{opacity: 0;
        transform: translateX(100px);
    }
    90%{transform: translateX(-10px);
    }
    100%{opacity: 1;
        transform: translate(0);
    }}
    
@keyframes moveInLeft{
    0%{opacity: 0;
        transform: translateX(-100px);
    }
    90%{transform: translateX(10px);
    }
    100%{opacity: 1;
        transform: translate(0);
    }}
    
    
        /* botton header  */
.btn:link , .btn:visited{transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 100px;
    font-size: 30px;
    transition: all .3s;
    position: relative;}
    
.btn:hover{transform: translateY(-5px);
    box-shadow: 0 15px 25px rgb(36, 36, 36, .4);}
    
.btn:active{transform: translateY(1px);
    box-shadow: 0 10px 15px rgb(36, 36, 36, .4);}
    
.btn-white{background-color: #fffaea;
    color: rgb(70, 70, 70);}
    
.btn::after{content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transition: all .4s;}
    
.btn-white::after{background-color: #fffaea;}
    
.btn:hover::after{opacity: 0;
    transform: scalex(1.4) scaleY(1.6);}



/* ------------------------------------------------------------------------------------ */

        /* main (about us) */
.section-about{
    background-color: #fffaea;
    padding: 20rem 0 15rem 0;
    margin-top: -25vh;
}


.heading-secondary{
    margin-bottom: 6rem;
    display: inline-block;
    font-size: 35px;
    font-family: "Text-bold";
    font-weight: bold;
    background-image: linear-gradient( to left , #1a80ce , #fe9f33);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .25s;
}

.heading-secondary:hover{
    transform: skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 1rem rgba(0, 0, 0, .3);
}


        /* composition photos */
.composition{
    position: relative;

}

.composition-photo{
    width: 55%;
    box-shadow: 0 1.5rem 2rem rgb(36, 36, 36, .4);
    position: absolute;
    transition: all .1s;
    z-index: 10;
    outline-offset: 1rem;
}

.composition-photo:hover{
    z-index: 20;
    transform: scale(1.06);
    box-shadow: 0 2.5rem 2rem rgb(36, 36, 36, .5);
    outline: 1.2rem solid #fe9f33;
}

.photo-1{
    top: -2rem;
    left: 0;
}

.photo-2{
    top: 2rem;
    right: 0;
}

.photo-3{
    top: 10rem;
    left: 20%;
}

/* ------------------------------------------------------------------------------------------ */

        /* 4 sections features */
.section-feature{
    padding: 15rem 0;
    background-image:linear-gradient(to bottom, rgba(75, 54, 8, 0.8), rgba(254, 159, 51,.7)),
    url(../../img/chabahar-south-of-iran.jpg);
    background-size: cover;

    transform: skewY(-5deg);
    margin-top: -5rem;
}

.section-feature > * {
    transform: skewY(5deg);
}

.feature-box{
    background-color: rgba(255, 250, 234,.6);
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2.5rem 2rem rgb(36, 36, 36, .2);
    margin: 0 1rem;
    transition: all .2s;

}

.feature-box:hover{
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 3rem 4rem rgba(36, 36, 36, .4);
    color: #aa6517;
}

.feature-icon{
    margin-bottom: 3rem;
    fill: #4b3608;
}

.feature-icon:hover{
    fill: #aa6517;
}


/* --------------------------------------------------------------------------------------------------- */
        /* about-customs */
.section-about-customs{
    position: relative;
    background-color: transparent;
    top: 2rem;
}

        /* background video */
.bg-video{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: .25;
}

.bg-video-content{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-customs{
    position: relative;
    display: inline-block;
    width: 70%;
    background-color: rgba(255, 250, 234,.4);
    margin: 0 15rem;
    padding: 1.5rem 2.5rem;
    box-shadow: .5rem 1rem 2rem rgba(56, 55, 55,.2);
    border-radius: 3px;
    transform: skewX(-12deg);
}

        /* img figure */
.custom-figure{
    width: 13rem;
    height: 13rem;
    float: right;
    transform: translateX(2rem) skewX(12deg);
    -webkit-shape-outside: circle(65% at 50% 50%);
    shape-outside: circle(65% at 50% 50%);
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
}

.custom-img-1{
    height: 100%;
    transform: translateX(4.2rem) scale(1.2);
    transition: all .5s;
}

.custom-img-2{
    height: 110%;
    transform: translateX(8rem) translateY(-2rem) scale(1.2);
    transition: all .5s;
}

.custom-img-3{
    height: 100%;
    transform: translateX(1.5rem) translateY(2rem) scale(1.2);
    transition: all .5s;
}

.custom-text{
    transform: skewX(12deg);
}

.custom-img-caption{
    font-size: 2.4rem;
    font-family: "Cards";
    position: absolute;
    text-align: center;
    color: #fff;
    top: 60%;
    left: 13%;
    opacity: 0;
    transition: all .5s;
}

.about-customs:hover .custom-img-caption{
    top: 34%;
    left: 13%;
    opacity: 1;
}

.about-customs:hover .custom-img-1{
    transform:translateX(4.2rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.about-customs:hover .custom-img-2{
    transform: translateX(7rem) translateY(-2rem) scale(1);
    filter: blur(3px) brightness(70%);
}

.about-customs:hover .custom-img-3{
    transform: translateX(1.5rem) translateY(.8rem) scale(1);
    filter: blur(3px) brightness(70%);
}