
.section-areas{
    background-color: #fffaea;
    padding: 12rem 0 55rem 0;
    margin-top: -15vh;
}

.area{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}

.area-side{
    height: 40rem;
    width: 100%;
    top: 0;
    left: 0;
    margin: -2rem .5rem;
    transition:all 1s ease;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 1.5rem 2rem rgba(36, 36, 36, .3);
}

.area-side-front{
    background-color: #fff;
}

.area-side-back{
    transform: rotateY(180deg);
}

.area-side-back-1{
    background-image: linear-gradient(to bottom right, #72c2ff, #1a80ce, #006cbe);
}

.area-side-back-2{
    background-image: linear-gradient(to bottom right, #f9d224, #fe9f33, #f88502);
}

.area-side-back-3{
    background-image: linear-gradient(to bottom right, #4eebb9, #00a572, #038f63);
}

.area:hover .area-side-front{
    transform: rotateY(-180deg);
}

.area:hover .area-side-back{
    transform: rotateY(0);
}

        /* area picture */
.area-picture{
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

.area-picture-1{
    background-image: linear-gradient(to bottom right, rgb(114, 194, 255), rgb(26, 128, 206),
     rgb(0, 108, 190)), url(../../img/تالاب-لیپار،-اعجازی-به-رنگ-صورتی.jpg);
}

.area-picture-2{
    background-image: linear-gradient(to bottom right, rgb(249, 210, 36), rgb(254, 159, 51),
     rgb(248, 133, 2)), url(../../img/photo-2.jpg);
}

.area-picture-3{
    background-image: linear-gradient(to bottom right, rgb(78, 235, 185), rgb(0, 165, 114),
     rgb(3, 143, 99)), url(../../img/مسجد\ تیس.jpg);
}

        /* area header */
.area-header{
    color: #fff;
    font-size: 1.9rem;
    text-align: right;
    position: absolute;
    top: 11rem;
    right: 1rem;
    width: 80%;
    font-family: "Cards";
}

.area-header-span{
    padding: 1rem;
}

.area-header-span-1{
    background-image: linear-gradient(to bottom right, rgba(114, 194, 255, .9), rgba(26, 128, 206, .9),
    rgba(0, 108, 190, .9));
}

.area-header-span-2{
    background-image: linear-gradient(to bottom right, rgba(249, 210, 36, .9), rgba(254, 159, 51, .9),
    rgba(248, 133, 2, .9));
}

.area-header-span-3{
    background-image: linear-gradient(to bottom right, rgba(78, 235, 185, .9), rgba(0, 165, 114, .9),
    rgba(3, 143, 99, .9));
}

        /* area text */
.area-text{
    padding: 2.5rem;
}

.area-text > ul{
    list-style: none;
    width: 80%;
    margin: 0 3rem;
    font-family: "Titr";
}

.area-text > ul >li{
    padding: .8rem;
    color: #383737;
    font-size: 1.15rem;
    text-align: center;
}

.area-text > ul >li:not(:last-child){
    border-bottom: 1px solid #d3d3d3;
}


/* -------------------------------------------- */
        /* area-text-back */
.area-text-back{
    padding:  2.5rem;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 5rem;
    color: #fff;
    text-shadow: 0 1rem 1.5rem #fff;
    font-family: "Cards";
}

        /* area back botton */
.area-side-back-btn{
    margin: 2rem 6.2rem 4rem 6.2rem;
}

        /* area picture back */
.area-picture-back{
    margin-bottom: 0;
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
        
.area-picture-back-1{
    background-image: linear-gradient(to bottom right, rgb(114, 194, 255), rgb(26, 128, 206),
    rgb(0, 108, 190)), url(../../img/kooh\ golafshaan.jpg);
}

.area-picture-back-2{
    background-image: linear-gradient(to bottom right, rgb(249, 210, 36), rgb(254, 159, 51),
    rgb(248, 133, 2)), url(../../img/traditional-market-in-chabahar.jpg);
}
    
.area-picture-back-3{
    background-image: linear-gradient(to bottom right, rgb(78, 235, 185), rgb(0, 165, 114),
    rgb(3, 143, 99)), url(../../img/موزه\ محلی1.jpg);
}
